@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@200;500&display=swap');

@import '../main.scss';

body {
    align-items: center;
    background: #2B2A30;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
}

.clock {
    align-items: center;
    border-radius: 50%;
    box-shadow: -5px 14px 44px #000000, 5px -16px 50px rgb(255 255 255 / 15%);
    display: flex;
    height: 518px;
    justify-content: center;
    position: relative;
    width: 518px;
    overflow: hidden;

    &__ring {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        svg {
            transform-origin: center;
            rotate: -90deg;
            fill: none;
            
            circle {
                fill: none;
                stroke-linecap: round;
                transition: all 1s linear;
            }
        }
    }
    
    &__timer {
        align-items: center;
        background: radial-gradient(71.4% 71.4% at 51.7% 28.6%, #3A393F 0%, #17171A 100%);
        border-radius: 50%;
        box-shadow: inset 0px 0px 114px rgb(0 0 0 / 45%);
        color: white;
        display: flex;
        flex-direction: column;
        height: 500px;
        justify-content: center;
        position: relative;
        width: 500px;
        z-index: 2;

        .time {
            font-size: 10rem;
            font-family: 'Asap Condensed', sans-serif;
            font-weight: 200;
            top: 10px;
            position: relative;
        }

        input {
                border: 0;
                    // border-bottom: 1px dashed white;
                background: none;
                color: white;
                font-size: 10rem;
                font-family: 'Asap Condensed', sans-serif;
                font-weight: 200;
                height: 170px;
                width: 170px;
                text-align: center;
                outline: none;
                border-radius: 6px;

                &.active {
                    border: 1px solid rgba(255, 255, 255, 0.25);
                    background: rgba(255, 255, 255, 0.064);
                }
        }
    }

    &__toggle {
            cursor: pointer;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1rem;
            letter-spacing: 10px;
            line-height: 20px;
            background: none;
            color: white;
            opacity: .5;
            border: none;
            text-transform: uppercase;
            margin-top: 10px;
            margin-right: -10px;
            transition: all .3s;
            outline: none;

            &:hover {
                opacity: 1;
            }
    }

    .btn-svg {
        width: 3rem;
        height: 3rem;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        color: white;
        background: rgba(255, 255, 255, 0.104);
        cursor: pointer;
        transition: all .3s;
        position: absolute;

        svg{
            width: 100%;
            height: 100%;
            border: none;
            background: none;
            transition: all .3s;
            opacity: .5;

            &:hover {
                rotate: 25deg;
                }
        }
    }

    &__restart {
        opacity: 0;
        display: none;
        top: 2rem;

        &.active {
            opacity: 1;
            display: flex;
        }

        svg {
            transform: scaleX(-1);
        }
    }

    &__gear {
        bottom: 2rem;
    }

}